#photo_gallery {
  color: blue;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em;
  margin-bottom: 0em;
}

#photo_gallery header {
  text-align: center;
  margin: 0em 10% 6em 10%;
}

#photo_gallery header h2 {
  font-weight: 700;
  font-size: 2em;
  letter-spacing: 0.075em;
  line-height: 1.5em;
  margin: 0em 0em 1em 0em;
}

#photo_gallery header p {
    text-align: justify;
    color: #b1b4b9;
    display: block;
    margin: 0em;
    font-size: 1.1em;
    letter-spacing: 0.075em;
    line-height: 1.5em;
  }

.wrapper #header {
  margin : 100em;
}

#photo_gallery .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  float property : right;
  padding: 0px 0% 0px 0%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
}

/* Create four equal columns that sits next to each other */
#photo_gallery .column {
  -ms-flex: 33.3333%; /* IE10 */
  flex: 33.3333%;
  max-width: 33.3333%;
  padding: 0px 0px;
}

#photo_gallery .column img {
  vertical-align: middle;
  width: auto;
  height: auto;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  #photo_gallery .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #photo_gallery .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
