#map {
  margin: auto;
  width: 1000px;
  height: 600px;
}

.leaflet-marker-icon {
    opacity: 1;
    transition-duration: 1s;
}
.leaflet-marker-hover {
    transition-property: opacity;
    opacity: 0.5;
}

/*
.leaflet-marker-icon {
    opacity: 0.5;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.leaflet-marker-hover {
    transition-property: opacity;
    transition-duration: 1s;
    opacity: 1;
}
*/
