#map {
  margin: auto;
  width: 1000px;
  height: 600px;
}

.leaflet-marker-icon {
    opacity: 0.90;
}

/*
.leaflet-marker-hover {
    transition-property: opacity;
    transition-duration: 1s;
    opacity: 1;
}
*/
