/****
** HEADER
*****/

#header {
	background: url("../images/banner_1.jpg") center;
	background-size: cover;
	padding: 0;
}

/****
** CV
****/

/* TWO COLUMNS */

.row > .col-left-cv {
	width: 25%;
	margin-left:0%;
}

.row > .col-right-cv {
	width: 75%;
}

.box .row > .col-image-cv {
		width: 25%;
		padding-bottom:0em;
		padding-top:1em;
}

/* SIDE BAR WRAPPER */

.cv_sidebar_content {
	margin-bottom: 0em;
	overflow: hidden;
}

/* TEXT SIDE BAR */

.cv_sidebar_content > .col-image-cv-text {
	float: left;
	width: 100%;
	margin-top : 2em;
	margin-bottom: 0em;
	padding-bottom: 0em;
}

.cv_sidebar_content > .col-image-cv-text p {
	padding-bottom: 0em;
		color: #484d55;
}

/* EXPERTISE SIDE BAR */

.cv_sidebar_content > .col-image-cv-expertise {
		padding-top: 0em;
		padding-bottom: 0em;
		float: left;
}

.cv_sidebar_content > .col-image-cv-expertise p {
		color: #484d55;
		text-align: left;
}

/* CV */

.cv {
			margin-top: 0em;
}

.cv table {
    border-collapse: collapse;
		color:  #b3b3b3; 
		margin-bottom: 3em;
}

.cv td.first-row {
    /*border-bottom: 1px solid black;*/
		padding-top: 1em;
		color: #484d55;
}

.cv ul {
    /*border-bottom: 1px solid black;*/
		padding-top: 0.25em;
		margin-bottom: 0.5em;
}

/* IMAGE */

#cv_sidebar img {
	display: inline;
	margin: 0 auto;
	height: 100%;
	width: auto;
}

.image-cropper {
  width: 280px;
  height: 280px;
  position: relative;
	overflow: hidden;
  border-radius: 50%;
	border: 2px solid var(--header_color);
}

#cv_sidebar {
	/* TRANSITION */
	-moz-transition: opacity var(--tr_banner_time) ease, -moz-transform var(--tr_banner_time) ease, -moz-filter 0.25s ease;
	-webkit-transition: opacity var(--tr_banner_time) ease, -webkit-transform var(--tr_banner_time) ease, -webkit-filter 0.25s ease;
	-ms-transition: opacity var(--tr_banner_time) ease, -ms-transform var(--tr_banner_time) ease, -ms-filter 0.25s ease;
	transition: opacity var(--tr_banner_time) ease, transform var(--tr_banner_time) ease, filter 0.25s ease;
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-moz-transition-delay: var(--tr_banner_delay_h1);
	-webkit-transition-delay: var(--tr_banner_delay_h1);
	-ms-transition-delay: var(--tr_banner_delay_h1);
	transition-delay: var(--tr_banner_delay_h1);
	-moz-filter: blur(0);
	-webkit-filter: blur(0);
	-ms-filter: blur(0);
	filter: blur(0);
	opacity: 1;
}

.is-preload #cv_sidebar {
	opacity: 0;
	-moz-transform: translateX(0em);
	-webkit-transform: translateX(0em);
	-ms-transform: translateX(0em);
	transform: translateX(0em);
	-moz-filter: blur(2px);
	-webkit-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}

/****
** CV : adjustment screen
****/

@media screen and (max-width: 1650px) {
	#cv_sidebar .col-image-cv {
		margin-top: -2em;
	}
	.image-cropper {
	  width: 220px;
	  height: 220px;
	}
}

@media screen and (max-width: 1280px) {
	.image-cropper {
	  width: 200px;
	  height: 200px;
	}
	.cv_sidebar_content > .col-image-cv-text {
		float: left;
	}
}

@media screen and (max-width: 1280px) {
	.image-cropper {
	  width: 200px;
	  height: 200px;
	}
}

@media screen and (max-width: 1020px) {
	#cv_sidebar .col-image-cv {
		margin-top: 1em;
	}
	.row > .col-full-cv {
		width: 100%;
	}
	.cv_sidebar_content {
		width:75%;
		margin-bottom: -4em;
		margin-top: -2.5em;
	}
	.cv_sidebar_content > .col-image-cv-text {
		float: left;
		width:auto;
		margin-top: 1.0em;
		margin-left: 10%;
	}
	.cv_sidebar_content > .col-image-cv-expertise {
		float: right;
		width:auto;
		margin-top: 1.0em;
		margin-right: 10%;
	}
}

@media screen and (max-width: 860px) {
	.cv_sidebar_content > .col-image-cv-expertise {
		margin-right: 0%;
	}
}

@media screen and (max-width: 736px) {
	.cv_sidebar_content > .col-image-cv-text {
		margin-left: 5%;
		margin-top: 0em;
	}
	.cv_sidebar_content > .col-image-cv-expertise {
		margin-right: 5%;
		margin-top: 0em;
	}
	#cv_sidebar .col-image-cv {
		margin-top: 0em;
	}
	.image-cropper {
	  width: 150px;
	  height: 150px;
	}
}

@media screen and (max-width: 690px) {
	.cv_sidebar_content > .col-image-cv-text {
		margin-left: 3%;
	}
	.cv_sidebar_content > .col-image-cv-expertise {
		margin-right: 0%;
	}
}

@media screen and (max-width: 626px) {
	.image-cropper {
		width: 200px;
		height: 200px;
	}
	.cv_sidebar_content {
		float:right;
	}
	.cv_sidebar_content > .col-image-cv-text {
		float: none;
		margin-left: 30%;
		margin-top: 0em;
	}
	.cv_sidebar_content > .col-image-cv-expertise {
		margin-top: 0em;
		margin-left: 30%;
		float: none;
	}
	#cv_sidebar .col-image-cv {
		margin-top: 0.4em;
	}
}

@media screen and (max-width: 570px) {
	.image-cropper {
		width: 180px;
		height: 180px;
	}
}

@media screen and (max-width: 480px) {
	.image-cropper {
		width: 160px;
		height: 160px;
	}
}

@media screen and (max-width: 480px) {
	.image-cropper {
		width: 160px;
		height: 160px;
	}
}

@media screen and (max-width: 440px) {
	#main {
		font-size: 0.90em;
	}
	#cv_sidebar .col-image-cv {
		margin-top: 1em;
	}
	.cv_sidebar_content {
		width:100%;
		padding-top: 0em;
	}
	.cv_sidebar_content > .col-image-cv-text {
		margin-top: 4em;
		margin-left: 0em;
		margin-bottom: 0em;
	}
	.cv_sidebar_content > .col-image-cv-expertise {
		margin-left: 0em;
		margin-top: 0em;
	}
}

@media screen and (max-width: 400px) {
	#main {
		font-size: 0.85em;
	}
}

@media screen and (max-width: 360px) {
	#main {
		font-size: 0.80em;
	}
}

@media screen and (max-width: 340px) {
	#main {
		font-size: 0.75em;
	}
}
