/****
** HEADER
*****/

#header {
	height: 30em;
	background: url("../../images/banner_4.jpg") center;
	background-size: cover;
	padding: 0;
}

@media screen and (max-width: 736px) {

	#header {
		height: 22em;
		background: url("../../images/banner_4_small_screen.jpg") center;
	}

}

/****
*** END ADJUSTMENT SCREEN
*****/
