/*
  OLD

  #map_container {
    background-color: rgba(90, 110, 125, 1);
    margin: auto;
    position: relative;
    width: 450px;
    height: 480px;
    top:-0px;
  }

  #map {
    position: absolute;
    top: 50%;
    right :50%;
    transform: translateY(-50%) translateX(+50%);
    width: 430px;
    height: 460px;
  }
*/

/*************************************************************************************************/

/* BASELINE SCREEN */

#map_wrapper {
    border: 0px solid black;
    overflow: hidden;
    margin-left : 20px;
    margin-right : 20px;
}

#map_container {
  background-color: var(--bg-color-1);
  position: relative;
  width: auto;
  height: 300px;
  top:-0px;
  margin: auto;
  margin-bottom: 0px;
}

#map{
  position: absolute;
  top: 0;
  bottom: 0;
  border: 2px solid var(--bg-color-1);
  width: 100%;
}

#map_text {
    padding-left: 0px;
    overflow: hidden;
    color: var(--bg-color-1);
    text-align: justify;
}

/*************************************************************************************************/


/* SCREEN - 300px */

@media screen and (min-width: 300px) {
  #map_container {
    height: 300px;
  }
}

/* SCREEN - 400px */

@media screen and (min-width: 400px) {
  #map_container {
    height: 400px;
  }
}

/* SCREEN - 800px */

@media screen and (min-width: 900px) {
  #map_wrapper {
    overflow: hidden;
  }
  #map_text {
      float:left;
      width: 50%;
      padding-right: 50px;
  }
  #map_container {
    overflow: hidden;
    width: 50%;
    height: 400px;
  }
}






/*************************************************************************************************/

/*
#map {
  position: absolute;
  top: 50%;
  right :50%;
  transform: translateY(-50%) translateX(+50%);
  height: 240px;
  width: 230px;
  height: 230px;
}
*/

/*************************************************************************************************/


/*
/* SCREEN - 350px */
/*
@media screen and (min-width: 350px) {

  #map_container {
    width: 300px;
    height: 300px;
  }

  #map {
    width: 290px;
    height: 290px;
  }

}

/*************************************************************************************************/

/* SCREEN - 400px */
/*
@media screen and (min-width: 400px) {

  #map_container {
    width: 350px;
    height: 350px;
  }

  #map {
    width: 340px;
    height: 340px;
  }

}
*/
/*************************************************************************************************/

/*
@media screen and (min-width: 500px) {
  #map_container {
    width: 470px;
    height: 480px;
  }
  #map {
    width: 450px;
    height: 460px;
  }
}

@media screen and (min-width: 600px) {
  #map_container {
    width: 550px;
    height: 480px;
  }
  #map {
    width: 530px;
    height: 460px;
  }
}

@media screen and (min-width: 800px) {
  #map_container {
    width: 700px;
    height: 500px;
  }
  #map {
    width: 680px;
    height: 480px;
  }
}

@media screen and (min-width: 1000px) {
  #map_container {
    width:800px;
    height: 480px;
  }
  #map {
    width: 780px;
    height: 460px;
  }
}

@media screen and (min-width: 1200px) {
  #map_container {
    width: 1000px;
    height: 600px;
  }
  #map {
    width:980px;
    height: 580px;
  }
}

@media screen and (min-width: 1400px) {
  #map_container {
    width:650px;
    height: 450px;
  }
  #map {
    width:630px;
    height: 430px;
  }
}
*/
/*
#map_container {
  background-color: var(--bg-color-1);
  position: relative;
  width: 270px;
  height: 270px;
  float:left;
  top:-0px;
  margin-bottom: 0px;
}
*/

.leaflet-marker-icon {
    opacity: 0.90;
}
