/*
  OLD

  #map_container {
    background-color: rgba(90, 110, 125, 1);
    margin: auto;
    position: relative;
    width: 450px;
    height: 480px;
    top:-0px;
  }

  #map {
    position: absolute;
    top: 50%;
    right :50%;
    transform: translateY(-50%) translateX(+50%);
    width: 430px;
    height: 460px;
  }
*/

#map_wrapper {
    width: 500px;
    border: 1px solid black;
    overflow: hidden; /* will contain if #first is longer than #second */
}

#map_text {
    padding-left: 40px;
    overflow: hidden;
    color: var(--bg-color-1);
    text-align: justify;
}

#map_container {
  background-color: var(--bg-color-1); /*rgba(120, 130, 145, 1);*/
  position: relative;
  width: 450px;
  height: 480px;
  float:left; /* add this */
  top:-0px;
  margin-bottom: 60px;
}

#map {
  position: absolute;
  top: 50%;
  right :50%;
  transform: translateY(-50%) translateX(+50%);
  width: 430px;
  height: 460px;
}

@media screen and (min-width: 400px) {
  #map_container {
    width: 380px;
    height: 480px;
  }
  #map {
    width: 360px;
    height: 460px;
  }
}

@media screen and (min-width: 500px) {
  #map_container {
    width: 470px;
    height: 480px;
  }
  #map {
    width: 450px;
    height: 460px;
  }
}

@media screen and (min-width: 600px) {
  #map_container {
    width: 550px;
    height: 480px;
  }
  #map {
    width: 530px;
    height: 460px;
  }
}

@media screen and (min-width: 800px) {
  #map_container {
    width: 700px;
    height: 500px;
  }
  #map {
    width: 680px;
    height: 480px;
  }
}

@media screen and (min-width: 1000px) {
  #map_container {
    width:800px;
    height: 480px;
  }
  #map {
    width: 780px;
    height: 460px;
  }
}

@media screen and (min-width: 1200px) {
  #map_container {
    width: 1000px;
    height: 600px;
  }
  #map {
    width:980px;
    height: 580px;
  }
}

@media screen and (min-width: 1400px) {
  #map_container {
    width:650px;
    height: 450px;
  }
  #map {
    width:630px;
    height: 430px;
  }
}

.leaflet-marker-icon {
    opacity: 0.90;
}
